* {
  padding: 0;
  margin: 0;
}
.hide {
  display: none;
}
.carGame {
  background-image: url(bg2.png);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  overflow: hidden;
}
/* create a car using css */
.car,
.enemy {
  width: 80px;
  height: 90px;
  /* background-color: green; */
  /* background: green; */
  background-image: url(car.png);
  background-repeat: no-repeat;
  background-size: 100% 100%;

  position: absolute;
  bottom: 100px;

  /* left: 400px; */
}
.enemy {
  background-image: url(car1.png);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  transform: rotate(180deg);
}

/* set road in game */
.gameArea {
  width: 400px;
  height: 100vh;
  background: #333333;
  margin: auto;
  position: relative;
  border-left: 7px dashed white;
  border-right: 7px dashed white;
}
/* set road lines in game */
.roadlines {
  width: 10px;
  height: 100px;
  background: rgb(253, 253, 255);
  position: absolute;
  margin-left: 195px;
}

/* score card for player */
.score {
  position: absolute;
  top: 30px;
  left: 80px;
  background-image: url(scorebg.jpg);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  padding: 18px;
  color: white;
  font-weight: bold;
  box-shadow: 0 3px 3px black;
  border-radius: 5px;
}

/* fornt page for game display  */
.startScreen {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
  width: 300px;
  /* height: 100px; */
  background-image: url(playbg.jpg);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  padding: 20px;
  cursor: pointer;
  box-shadow: 0 5px 5px black;
  color: white;
  text-transform: uppercase;
  border-radius: 5px;
  text-align: center;
}

/* creator of game */
.arman {
  position: absolute;
  top: 90%;
  right: 0;
  left: 80%;
  transform: translate(-50%, -50%);
  z-index: 1;
  width: 140px;
  padding: 20px;
  background-image: url(arman.jpg);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  color: white;
  border-radius: 5px;
}
