* {
  padding: 0;
  margin: 0;
}
.hide {
  display: none;
}

/* create a car using css */
.car {
  width: 50px;
  height: 70px;
  background-color: green;
  position: absolute;
  bottom: 100px;
  /* left: 400px; */
}

/* set road in game */
.gameArea {
  width: 400px;
  height: 100vh;
  background: black;
  margin: auto;
  position: relative;
}
